rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Fully generic open rules: allows anyone on web & mobile to read and write all collections/documents
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
